Reto/configuration/ejemplo-reto.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "0d55b192e678785d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "ESP-01/SensorA",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b76cc84d9e68051c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 220,
        "wires": [
            [
                "16d7a679b18e4696"
            ]
        ]
    },
    {
        "id": "2442320c6ca8dcae",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "ESP-01/SensorB",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b76cc84d9e68051c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "16d7a679b18e4696"
            ]
        ]
    },
    {
        "id": "b8f08e81f0313519",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "ESP-01/SensorC",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b76cc84d9e68051c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "16d7a679b18e4696"
            ]
        ]
    },
    {
        "id": "f7b130e1e7e02114",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "ESP-02/SensorA",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b76cc84d9e68051c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 420,
        "wires": [
            [
                "16d7a679b18e4696"
            ]
        ]
    },
    {
        "id": "d71ecd92b1f71607",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "ESP-02/SensorB",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b76cc84d9e68051c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 480,
        "wires": [
            [
                "16d7a679b18e4696"
            ]
        ]
    },
    {
        "id": "984cd56514abeb60",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "ESP-02/SensorC",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b76cc84d9e68051c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "16d7a679b18e4696"
            ]
        ]
    },
    {
        "id": "16d7a679b18e4696",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "// Get the topic from the incoming message\nlet topic = msg.topic;\n\n// Split the topic string by the '/' character\nlet topicParts = topic.split('/');\n\n// Example: Access specific parts of the topic\n// For a topic like \"ESP-01/SensorA\", topicParts would be [\"home\", \"livingroom\", \"temperature\"]\nlet station = topicParts[0]; // \"livingroom\"\nlet sensor = topicParts[1]; // \"temperature\"\n\n// You can then modify the message object or create new messages\nmsg.station = station;\nmsg.sensor = sensor;\nmsg.value = msg.payload;\n\n// Send the modified message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 360,
        "wires": [
            [
                "32f8dfdc2bbb2222",
                "783cecda71aa82d1"
            ]
        ]
    },
    {
        "id": "32f8dfdc2bbb2222",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 360,
        "wires": []
    },
    {
        "id": "783cecda71aa82d1",
        "type": "MSSQL",
        "z": "f6f2187d.f17ca8",
        "mssqlCN": "02cc58160b8e4b33",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "INSERT INTO Reto (Timestamp, Station, Sensor, Value)\r\nVALUES (GETDATE(), @station, @sensor, @value);",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [
            {
                "output": false,
                "name": "station",
                "type": "VarChar",
                "valueType": "msg",
                "value": "station",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "sensor",
                "type": "VarChar",
                "valueType": "msg",
                "value": "sensor",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "value",
                "type": "Real",
                "valueType": "msg",
                "value": "value",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 1640,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b76cc84d9e68051c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "02cc58160b8e4b33",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "Microsoft SQL Server 2022",
        "server": "mssql",
        "port": "1433",
        "encyption": false,
        "trustServerCertificate": true,
        "database": "tc1004b",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "cf708aacd9f8c991",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mssql-plus": "0.13.1"
        }
    }
]